* {
  width: 100%;
  height: 100%;
  
}

html, body, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100% !important;
  height: 100% !important;
  display: flex;
}

#root {
  background-color: rgba(0, 0, 0, 1);
}

.canvas-container {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  align-items: stretch;
}







